.tsd-signature {
  font-size: larger;
  font-weight: 600;
}

.tsd-comment code {
  display: block;
  margin: 5px;
  padding: 5px 10px;
  color: #17a2b8;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre-wrap;
}

.tsd-signature-type {
  color: #dc3545;
}

.tsd-comment p {
  padding: 0 1px;
}

#tsd-search-field {
  color: #007bff;
  font-size: larger;
  font-weight: 600;
}

/* js-xxx */
.tsd-theme-toggle::after,
.tsd-accordion-details::after,
.tsd-index-accordion::after {
  display: block;
  margin: 10px 5px;
  letter-spacing: 1px;
  color: #28a745;
  font-size: smaller;
}

.tsd-theme-toggle::after {
  content: 'This library (js-xxx) has been introduced on this page, and you can directly open the console for debugging.';
}

.tsd-accordion-details::after {
  content: '本页面已引入此库 (js-xxx)，可直接打开控制台调试。';
}

.tsd-index-accordion::after {
  content: "$xxx.log('Hello LeoHe!')";
  color: #ffc107;
  font-size: inherit;
  font-style: italic;
  font-weight: 500;
}
